/* ***** VARIABLES ***** */
:root {
    --header-height: ;
    --nav-width: 200px;
    --player-height: 100px;
    --nav-padding: 1rem;
    /* Colors */
    --header-color: #080b12;
    --interface-color: #141922;
    --player-color: #282828;
}

/* ********** RESET ********** */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/* ********** GENERAL ********** */
body {
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.justify-center {
    justify-content: center;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Wrapper */
.wrapper {
    height: 100vh;
    width: 100%;
    /* debug */
    background-color: lightgreen;
}

/* ********** MAIN ***********/
/* ---------- Main Content ---------- */
.content {
    width: 100%;
    height: calc(100% - var(--player-height));
    /* debug */
    background-color: rebeccapurple;
}

/* ---------- Sidebar with my playlists ---------- */
.nav-bar {
    width: var(--nav-width);
    height: 100%;
    background-color: black;
    padding-top: var(--nav-padding);
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Spotify logo */
.logo img {
    width: 60%;
    padding-left: var(--nav-padding);
}

.nav-browse li, .playlist li {
    margin: 1rem 0;
    color: grey;
    font-size: .8rem;
    font-weight: 600;
    padding-left: var(--nav-padding);
}

/* Active */
.nav-browse li:first-child {
    color: white;
    border-left: 3px solid greenyellow;
}

.nav-browse img {
    width: 30px;
    vertical-align: middle;
}

/* Playlist */
.playlist {
    flex-grow: 1;
}

.playlist h4 {
    padding: 1rem;
}

.playlist li:first-child {
    margin-top: 0;
}

/* User and Download app */
.user {
    width: 200px;
    padding: 0 var(--nav-padding);
}

.download-app {
    color: grey;
    font-size: .8rem;
    font-weight: 600;
    margin-bottom: 10px;
}

.download-app img {
    width: 20px;
    vertical-align: middle;
    filter: invert(56%) sepia(10%) saturate(0%) hue-rotate(305deg) brightness(88%) contrast(99%);
}

.download-app span {
    vertical-align: middle;
}

hr {
    border-color: grey;
}

.user-name {
    margin: 10px 0 5px;
    font-weight: 600;
    font-size: 0.9rem;
}

.user-logo {
    display: inline-block;
    vertical-align: middle;
    width: 25px;
    height: 25px;
    background-color: grey;
    border-radius: 50%;
    text-align: center;
}

.user-logo img {
    width: 18px;
}

.user-name span {
    vertical-align: middle;
}
/* Create playlist */
.create-playlist {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: darkgrey;
    text-align: center;
    line-height: 40px;
    margin-right: .5rem;
}

.create-playlist i {
    color: black;
    vertical-align: middle;
}

/* ---------- Interface ---------- */
.interface {
    width: calc(100% - var(--nav-width));
    height: 100%;
    overflow-y: auto;
    padding-top: 80px;
    background-color: var(--interface-color);
}

.interface .row {
    margin: 1.5rem 0;
}

/* Container of interface */
.container {
    padding: 0 1rem;
}

/* Header with "Upgrade" button */
.header {
    height: 80px;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    right: 0;
    width: calc(100% - var(--nav-width));
    text-align: right;
    line-height: 80px;
    padding-right: 1.5rem;
    /* debug */
    border: 1px solid lightgreen;
}

.upgrade-button {
    display: inline;
    border: 1px solid white;
    border-radius: 20px;
    padding: 10px 35px;
    font-size: .8rem;
    font-weight: 600;
}

/* Categories */
.categories {
    margin-bottom: 2rem;
    /* debug */
    min-height: 40px;
    background-color: aquamarine;
}

.categories li {
    /* debug */
    min-height: 40px;
    background-color: red;
    border: 1px dashed black;
    min-width: 100px;
}

.categories li:not(:last-child) {
    margin-right: 1rem;
}

/* Recently played section */
.recently-played {
    margin-bottom: 2rem;
}

.recently-played .row {
    gap: 20px;
    /* debug */
    background-color: cadetblue;
    border: 2px dashed white;
}

.recently-played .col {
    width: calc(100% / 6 - (100px / 6));
    text-align: center;
    /* debug */
    border: 2px solid lightseagreen;
    background-color: fuchsia;
}

/* Created for section */
.created-for .row {
    gap: 20px;
    /* debug */
    background-color: cadetblue;
    border: 2px dashed white;
}

.created-for .col {
    width: calc(100% / 6 - (100px / 6));
    height: calc((100vw - 200px) / 6);
    text-align: center;
    /* debug */
    border: 2px solid lightseagreen;
    background-color: fuchsia;
}

/* Most popular section */
.most-popular .row {
    gap: 20px;
    /* debug */
    background-color: cadetblue;
    border: 2px dashed white;
}

.most-popular .col {
    width: calc(100% / 6 - (100px / 6));
    height: calc((100vw - 200px) / 6);
    text-align: center;
    /* debug */
    border: 2px solid lightseagreen;
    background-color: fuchsia;
}

/* ********** PLAYER ********** */
.player {
    height: var(--player-height);
    width: 100%;
    background-color: var(--player-color);
    justify-content: space-between;
}

.playing-song, .volume {
    width: var(--nav-width);
    height: var(--player-height);
    /* debug */
    background-color: chocolate;
}

.music-controls {
    height: var(--player-height);
    flex-grow: 1;
    /* debug */
    background-color: brown;
}